.probContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.probName {
  color: #000000;
  transition: all 0.2s ease-in-out;
}
.probName:hover {
  color: blue;
  transition: all 0.2s ease-in-out;
}
